*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contact_us{
    background-color:  ;
    height: auto;
    width: 100%;
    color: black;
}
.contact_us .container{
  padding: 7% 15%;

}

.contact_us .container #fullName,#email{
  width: 100%;
  height: 50px;
  padding: 10px;
}

.contact_us .container .message{
  width: 100%;
  height: 100px;
  padding: 10px;
}
.buttonHolder{
  text-align: center;
}

.submitstyle{
height: 45px;
background: #0982b5;
cursor: pointer;
color: #fff;

border: 1px solid #eee;

border-radius: 20px;

/* box-shadow: 5px 5px 5px #eee; */
width: 35%;

}
.title_contact_us{
  margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: center;
}

.submit_center{
  text-align: center;
}

.contact_us .container #send_btn{
  padding: 10px 40px;
  margin: 50px 0;
  cursor: pointer;
  background-color: #313131;
  color: white;
  border-radius: 8px;
  font-size: 20px;
}

.contact_us .container #send_btn:hover{
  cursor: pointer;
  background-color: #212121;

}

/* .transparent{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
height: 500px;
padding: 80px 40px;
box-sizing: border-box;
background: rgba(0,0,0,.5);
} */

.submitstyle:hover {
background: #016ABC;

color: #000;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

}

#send{

}


/*************------ @media section3 -----*************/

@media (max-width:767px){
    .section3 .name-div{
    padding: 0 20px;
}

.section3 .email-div{
    padding: 0 20px;
}
    .section3 .message{
    padding: 0 20px;
}
}
